- my $content_class = current_route.'-content';
#content.$content_class
  = include('layouts/default/gtm')
  = include('layouts/default/page_info')
  .grd-container
    .get-started
      .grd-grid-3.grd-hide-mobile
        = include('layouts/get_started/nav')
      .grd-grid-6.grd-grid-mobile-12.grd-parent
        = content
      .grd-grid-3.grd-hide-mobile
        = include('layouts/get_started/more')
