- stash(title => l('Benefits of binary trading'));
.section-content.section-4
  .grd-grid-12
    %h1= stash->{title}
    %p
  .subsection.first
    .grd-grid-12
      %a{:name => 'simplicity-section'}
      %h2= l('Simplicity')
      %p= l('Binary Trading is simple to learn and to execute.')
    .grd-grid-12
      %ul
        %li
          != l('<strong>Known risks</strong> - you know from the start what you will win or lose.')
        %li
          != l('<strong>Low minimum stakes</strong> - start trading with as little as $5.')
        %li
          != l("<strong>No surprises</strong> - no 'slippage', no 'margin calls', no getting 'stopped out', and no hidden fees or commissions.")
        %li
          != l('<strong>Instant access</strong> - open an account in minutes.')

  .subsection.hidden
    .grd-grid-12
      %a{:name => 'flexibility-section'}
      %h2= l('Flexibility')
      %p= l('You can trade a range of markets, timescales and indices – 24/7.')
    .grd-grid-12
      %ul
        %li
          != l('<strong>Trade when you want to trade</strong> - trade 24/7, even on weekends.')
        %li
          != l('<strong>Trade your way</strong> - customize your trades to meet your needs.')
        %li
          != l('<strong>Scalable trading</strong> - win the same proportional return on stakes of all values.')
        %li
          != l('<strong>Short to long-term</strong> - choose timeframes from 10 seconds to 365 days.')
        %li
          != l('<strong>All markets, all conditions</strong> - trade currencies, indices and commodities in rising, falling, sideways, quiet and volatile markets.')

  .subsection.hidden
    .grd-grid-12
      %a{:name => 'from-beginners-to-pros-section'}
      %h2= l('Ideal for both pros and novices')
      %p= l('[_1] is tailored to traders of all levels.', stash->{website_name})
    .grd-grid-12
      %ul
        %li
          != l('<strong>Trade with confidence</strong> - get pricing that is normally reserved for big institutional players.')
        %li
          != l('<strong>Trade to your budget</strong> - dip a toe in the water with $2 or go all out for $50,000.')
        %li
          != l('<strong>Trade to your strategy</strong> - set your trades on ‘gut feel’, or use technical or fundamental analysis.')

  .subsection.hidden
    .grd-grid-12
      %a{:name => 'control-your-risk-section'}
      %h2= l('Your risks are known')
      %p= l('With [_1], the most you can lose is the amount you stake at the start of your trade.', stash->{website_name})
    .grd-grid-12
      %ul
        %li
          != l('<strong>No surprises</strong> - you will never have margin calls, gap risk, slippage costs, hidden fees or commissions.')
        %li
          != l('<strong>Take early profits</strong> - sell your long-term trades at market prices before they expire.')
        %li
          != l('<strong>Set your probability of winning</strong> - choose trades with high returns and a low probability to win, or with low returns and a high probability to win.')

  .subsection.hidden
    .grd-grid-12
      %a{:name => 'high-returns-section'}
      %h2= l('High returns')
      %p= l('You’ll be surprised by the returns you can make.')
    .grd-grid-12
      %ul
        %li
          != l('<strong>Benchmarked prices</strong> - [_1] benchmarks its prices daily against inter-bank derivatives markets.', stash->{website_name})
        %li
          != l('<strong>Up to 100% returns on rise/fall trades</strong> - we challenge you to find better returns on any competing website.')
        %li
          != l('<strong>2-way pricing</strong> - [_1] quotes a trade and the counter-trade, so you always get unbiased, transparent prices.', stash->{website_name})
        %li
          != l('<strong>Patented technology</strong> - [_1] is the industry pioneer and holds patented pricing technology.', stash->{website_name})

  .subsection.hidden
    .grd-grid-12
      %a{:name => 'wide-range-of-markets-section'}
      %h2= l('Choose from over 1 million trades')
      %p= l('Choose from over a million possible trades at any time.')
    .grd-grid-12
      %ul
        %li
          != l('<strong>Currencies</strong> - trade all major FX pairs, around the clock.')
        %li
          != l('<strong>Stock indices</strong> - trade all major worldwide stock indices.')
        %li
          != l('<strong>Commodities</strong> - trade major commodities such as gold and oil.')
        %li
          != l('<strong>Volatility indices</strong> - trade [_1]\'s own volatility indices, 24/7.', stash->{website_name})

  .subsection.hidden
    .grd-grid-12
      %a{:name => 'all-conditions-trading-section'}
      %h2= l('Trade all market conditions')
      %p= l('No matter the market – rising or falling, quiet or volatile – you’ll find a trade to suit your outlook.')
    .grd-grid-12
      %ul
        %li
          != l('<strong>Rising markets</strong> - choose the rise trade, higher trade, one-touch trade with a high barrier, or no-touch trade with a low barrier.')
        %li
          != l('<strong>Falling markets</strong> - choose the falls trade, lower trade, one-touch trade with a low barrier, or no-touch trade with a high barrier.')
        %li
          != l('<strong>Quiet markets</strong> - choose the no-touch trade, the stays-between trade, or the ends-between trade.')
        %li
          != l('<strong>Volatile markets</strong> - choose the one-touch trade, the goes-outside trade, or the ends outside trade.')
        %li
          != l('<strong>Short-term action</strong> - choose intraday trades from 1 minute to 24 hours.')
        %li
          != l('<strong>Long-term action</strong> - choose trades with durations of up to 365 days.')

  .subsection.hidden.last
    .grd-grid-12
      %a{:name => 'tax-advantages-section'}
      %h2= l('Financial rewards')
      %p= l('Reap the rewards of trading binaries, knowing your funds are always safe.')
    .grd-grid-12
      %ul
        %li
          != l('<strong>Tax-free</strong> - binaries are licensed as a betting activity in the UK, so your winnings are tax-free.')
        %li
          != l('<strong>Payment options</strong> - [_1] offers many payment methods, such as credit/debit cards, bank wires, e-cash and e-wallets.', stash->{website_name})
        %li
          != l('<strong>Security</strong> - [_1] ensures your personal data and transactions are always secure.', stash->{website_name})
        %li
          != l('<strong>Instant funding</strong> - open, fund, or withdraw from your account within minutes, 24 hours a day.')

  .subsection-navigation.grd-grid-12
    %br
    %a.back{:href => "#"}= l('Back')
    %a.next{:href => "#"}= l('Next')
