- stash(title => l('Binary Options Basics'));
.section-content.section-3
  .grd-grid-12
    %h1= stash->{title}
    %p= l('Binary options are easy to understand. They’re called ‘binary’ because there can be only two outcomes – win or lose. If your prediction is correct, you receive a payout that is determined at the start of the trade. If not, you just lose your initial stake.')
    %img.ja-hide.responsive#lga_icon_footer{:src => url_for('images/pages/get-started/binary-option-basics.svg')}
    %img.hidden.ja-show.responsive#lga_icon_footer{:src => url_for('images/pages/get-started/define-your-position-jp.svg')}
    %p= l('You only need to make four decisions to execute a binary contract.')
    %h2= l('1. Choose the Underlying')
    %p= l('The first thing to do is choose the asset you wish to trade, such as gold or oil, stocks or FX rates (The value of a binary option is derived from the price of the underlying asset). A big advantage of trading options is that you are not buying or selling the actual asset.')
    %h2= l('2. Choose the Duration of the Trade')
    %p= l('Each binary option contract runs for a set time – with [_1] you can choose a contract that runs between 10 seconds and 365 days.', stash->{website_name})
    %h2= l('3. Choose how you want to Trade the Market')
    %p= l('[_1] offers five ways to trade your chosen asset:', stash->{website_name})
    %ul
      %li.ja-hide
        != l('<strong>Rise/Fall</strong> - where you can profit from the market rising or falling from its current level.')
      %li
        != l('<strong>Higher/Lower</strong> - where you can profit from the market ending higher or lower than a target price.')
      %li
        != l('<strong>Touch/No Touch</strong> - where you can profit from the market touching or not touching a target price.')
      %li
        != l('<strong>In/Out</strong> - where you can profit from the market staying inside, or going outside, two price targets.')
    %h2= l('4. Choose your Payout')
    %p= l('With [_1] you’re in control of how much you can win. You specify a fixed payout amount at the outset, and your stake – what you pay – is then calculated. Binary.com offers payouts from $1 to $50,000.', stash->{website_name})
