- stash(title => l('Glossary'));
.section-content.section-11
  .grd-grid-12
    %h1= stash->{title}
    %p
    %h2= l('Barrier(s)')
    %p= l('The barrier of a binary option trade is the price target you set for the underlying. You can choose trades that stay below or go above a price target, or stay between two targets.')
    %h2= l('Binary option')
    %p= l('A binary option is a contract purchased by a trader, which pays a pre-determined amount if their prediction is correct.')
    .ja-hide
      %h2= l('Commodities')
      %p= l('Commodities are resources that are grown or extracted from the ground, such as silver, gold and oil. On [_1], they are priced in US dollars.', stash->{website_name})
    %h2= l('Contract period')
    %p= l('The contract period is the timeframe of a trade. It is also called the duration.')
    %h2= l('Derivative')
    %p= l('A derivative is a financial instrument whose value is determined by reference to an underlying market. Derivatives are commonly traded in the inter-bank market, and binaries are one of the simplest forms of derivatives.')
    %h2= l('Duration')
    %p= l('The duration is the length of a purchased trade (see \'contract period\').')
    %h2= l('Ends Between/Ends Outside trades')
    %p= l('An Ends Between trade pays out if the market exit price is strictly higher than the low price target AND strictly lower than the high price target. An Ends Outside binary pays out if the market exit price is EITHER strictly higher than the high price target OR strictly lower than the low price target.')
    %h2= l('Entry spot price')
    %p= l('The entry spot price is the starting price of the trade purchased by a trader.')
    %h2= l('Expiry price')
    %p= l('The expiry price is the price of the underlying when the contract expires.')
    %h2= l('Forex')
    %p= l('In foreign exchange markets, traders can enter contracts based on the change in price of one currency as it relates to another currency. For example if a trader selects Rise in the EUR/USD market, they are predicting that the value of the Euro will rise in relation to the value of the US dollar.')
    %h2= l('GMT')
    %p= l('GMT stands for Greenwich Mean Time, the official time used in the UK during winter. In summer, the UK changes to British Summer Time, which is GMT + 1 hour. All times on the Binary.com site use GMT all year round.', stash->{website_name})
    %h2= l('Higher/Lower trades')
    %p= l('These are trades where the trader predicts if a market will finish higher or lower than a specified price target.')
    .ja-hide
      %h2= l('Indices')
      %p= l('Stock market indices measure the value of a selection of companies in the stock market.')
    %h2= l('In/Out trades')
    %p= l('These are trades where the trader selects a low and high barrier, and predicts if the market will stay within these barriers or go outside them (see also \'Stays Between/Goes Outside trades\').')
    %h2= l('Market exit price')
    %p= l("The market exit price is the price in effect at the end of the contract period.")
    %h2= l('No Touch trades')
    %p= l('These are trades where the trader selects a price target, and predicts that the market will never touch the target before the expiry of the trade.')
    .ja-hide
      %h2= l('(One) Touch trades')
      %p= l('These are trades where the trader selects a price target, and predicts that the market will touch the target before the expiry of the trade.')
    %h2= l('Payout')
    %p= l("The payout is the amount paid to an options trader if their prediction is correct.")
    %h2= l('Pip')
    %p= l('Pip stands for ‘percentage in point’ which is generally the fourth decimal place (i.e. 0.0001).')
    %h2= l('Profit')
    %p= l('The profit is the difference between the purchase price (the stake) and the payout on a winning trade.')
    .ja-hide
      %h2= l('Volatility Indices')
      %p= l('The volatility indices simulate various real market situations and provide an ideal platform for getting used to trading and testing strategies under various market conditions. These indices depend on volatility and drift, and help users to try out scenarios like – high volatility, low volatility, bullish and bearish trends.')
    %h2= l('Resale price')
    %p= l('The resale price indicates a contract\'s current market price. Resale prices are on a best-efforts basis and may not be available at all times after purchase. See \'Sell option\' for more details on selling contracts before expiry.')
    %h2= l('Return')
    %p= l('The return is the money realized when the contract expires (see \'Payout\').')
    %h2= l('Rise/Fall trades')
    %p= l('These are trades where the trader predicts if a market will rise or fall at the end of a selected time period.')
    %h2= l('Sell option')
    %p= l('It is sometimes possible to sell an option before the expiry of a trade, but only if a fair price can be determined. If this option is available, you will see a blue \'Sell\' button next to your trade in the portfolio.')
    %h2= l('Spot price')
    %p= l('This is the current price at which an underlying can be bought or sold at a particular time.')
    %h2= l('Stake')
    %p= l("The stake is the amount that a trader must pay to enter into a trade.")
    %h2= l('Stays Between/Goes Outside trades')
    %p= l('A Stays Between trade pays out if the market stays between (does not touch) BOTH the high barrier or the low barrier at any time during the period chosen by a trader. A Goes Outside trade pays out if the market touches EITHER the high barrier or the low barrier at any time during the period chosen by a trader.')
    %h2= l('Tick')
    %p= l('A tick is the minimum upward or downward movement in the price of a market.')
    %h2= l('Underlying')
    %p= l('Each binary option is a prediction on the future movement of an underlying market.')
