- stash(title => l('How to trade binaries?'));
.section-content.section-5
  .grd-grid-12
    %h1= stash->{title}

  .first.subsection
    .grd-grid-12
      %a{:name => 'binary-trading-in-3-easy-steps-section'}
      %p= l('Trading binaries is remarkably easy, and requires only 3 simple steps:')
    .grd-grid-12.grd-parent
      .grd-grid-4
        %img.ja-hide.responsive{:src => url_for('images/pages/home/step-1.svg')}
        %img.hidden.ja-show.responsive{:src => url_for('images/pages/home/step-1-jp.svg')}
      .grd-grid-4
        %img.ja-hide.responsive{:src => url_for('images/pages/home/step-2.svg')}
        %img.hidden.ja-show.responsive{:src => url_for('images/pages/home/step-2-jp.svg')}
      .grd-grid-4
        %img.ja-hide.responsive{:src => url_for('images/pages/home/step-3.svg')}
        %img.hidden.ja-show.responsive{:src => url_for('images/pages/home/step-3-jp.svg')}
    .grd-grid-12.grd-parent
      .grd-grid-4
        %strong
          %p.center-aligned= l('Define your position')
      .grd-grid-4
        %strong
          %p.center-aligned= l('Get your price')
      .grd-grid-4
        %strong
          %p.center-aligned= l('Make your trade')

    .grd-grid-12
      %a{:name => 'define-your-position-section'}
      %h2= l('Step 1: Define your position')
      %p= l('First, you need to set the parameters of your trade. Here’s what you need to consider.')
    .grd-grid-10
      %img.ja-hide.responsive{:src => url_for('images/pages/get-started/define-your-position.svg')}
      %img.hidden.ja-show.responsive{:src => url_for('images/pages/get-started/define-your-position-jp.svg')}

    .grd-grid-12
        %h2= l('Choose a trade type')
    .grd-grid-12
      %ul
        %li.ja-hide
          != l('<strong>Rise/Fall</strong> - predict if the market will rise or fall from its current level.')
        %li
          != l('<strong>Higher/Lower</strong> - predict if the market will end higher or lower than a price target.')
        %li
          != l('<strong>Touch/No Touch</strong> - predict if the market will touch or not touch a price target.')
        %li
          != l('<strong>In/Out</strong> - predict if the market will stay inside two price targets, or end between or outside them.')

    .grd-grid-12
      %h2= l('Choose the underlying market')
    .grd-grid-12
      %ul
        %li
          != l('<strong>Currencies</strong> - trade all major FX pairs.')
        %li.ja-hide
          != l('<strong>Stock Indices</strong> - trade all major worldwide stock indices.')
        %li.ja-hide
          != l('<strong>Commodities</strong> - trade major commodities such as gold and oil.')
        %li.ja-hide
          != l("<strong>Volatility Indices</strong> - trade [_1]'s proprietary volatility indices.", stash->{website_name})

    .grd-grid-12
      %h2= l('Choose the duration')
    .grd-grid-3.grd-grid-mobile-4.grd-centered.grd-with-padding.ja-hide
      %img.responsive{:src => url_for('images/pages/get-started/duration.svg')}
    .grd-grid-12
      %ul
        %li!= l('You can set the length of your trade, from 10 seconds to 365 days.')
        %li!= l("But there's no need to wait until expiry. You can sell back long-term trades at any time to profit from changing market conditions.")

    .grd-grid-12
      %h2= l('Choose the barrier(s)')
    .grd-grid-6.grd-grid-mobile-7.grd-centered.grd-with-padding.ja-hide
      %img.responsive{:src => url_for('images/pages/get-started/barriers.svg')}
    .grd-grid-12
      %ul
        %li= l("The barrier(s) you choose defines your position and triggers your payout.")
        %li= l("You set the barrier(s) to define your position.")

    .grd-grid-12
      %h2= l('Choose the payout')
    .grd-grid-5.grd-grid-mobile-8.grd-centered.grd-with-padding.ja-hide
      %img.responsive{:src => url_for('images/pages/get-started/payout.svg')}
    .grd-grid-12
      %ul
        %li= l('Each binary trade is for a pre-determined payout amount. You win the payout if your prediction is correct.')
        %li= l('You can choose payouts from $1 to $50,000. This wide payout range is ideal for both small and large traders.')

  .subsection.hidden
    .grd-grid-12
      %a{:name => 'get-your-price-section'}
      %h2= l('Step 2: Get your trade price')
      %p
      %ul
        %li= l('[_1] prices are benchmarked against the interbank options market, so you always get best-in-class prices for your trades.', stash->{website_name})
        %li= l('You get fair and transparent pricing, whatever your position.')

  .subsection.hidden
    .grd-grid-12
      %a{:name => 'make-your-trade-section'}
      %h2= l('Step 3: Make your trade')
      %ul
        %li= l('When you are satisfied with the trade price, instantly execute your trade.')
        %li= l("With [_1]'s unique platform, there's no risk of 'slippage' or gapping markets. And no hidden fees.", stash->{website_name})
        %li= l("You can sell back long-term trades at any time to profit from changing market conditions.")

  .subsection.last.hidden
    .grd-grid-12
      %a.by_client_type.client_logged_out{:name => 'dont-just-read-about-it-section'}
      %h2= l("Interested? Why not try a virtual account")
      %p= l('Test-run [_1], and sharpen your trading skills, with a no-risk, no-commitment, virtual account.', stash->{website_name})
    .grd-grid-12.grd-parent
      .grd-grid-4
        %img.responsive{:src => url_for('images/pages/home/step-1.svg')}
      .grd-grid-4
        %img.responsive{:src => url_for('images/pages/home/step-2.svg')}
      .grd-grid-4
        %img.responsive{:src => url_for('images/pages/home/step-3.svg')}
    .grd-grid-12.grd-parent
      .grd-grid-4
        %strong
          %p.center-aligned= l('Define your position')
      .grd-grid-4
        %strong
          %p.center-aligned= l('Get your price')
      .grd-grid-4
        %strong
          %p.center-aligned= l('Make your trade')
    .grd-grid-12.grd-with-padding.center-aligned.by_client_type.client_logged_out
      %a.button.pjaxload{:href => url_for("/")}
        %span= l('Try it now')
      %p= l('No risk, $10K virtual money account')

  .subsection-navigation
    %br
    %a.back{:href => "#"}= l('Back')
    %a.next{:href => "#"}= l('Next')
