- stash(title => l('Why Choose Binary Trading?'));
.section-content.section-1
  .grd-grid-12
    %h1= stash->{title}
    %h2= l('Binary trading is very simple.')
    %p= l('A binary option is an option with a fixed payout that is determined at the start of the trade. If your prediction is correct, you receive an agreed payout. If not, you lose your initial stake, and no more. The options are called ‘binary’ because there can be only two outcomes – win or lose.')
  .grd-grid-12
    %h2= l('Binary trading is flexible.')
    %p= l('With [_1] you can trade:', stash->{website_name})
    %ul
      %li
        != l('<strong>All markets</strong> - currencies, stock indices, and commodities.')
      %li
        != l('<strong>All market conditions</strong> - up/down, touch/no-touch, stays in/goes out.')
      %li
        != l('<strong>All durations</strong> - from 10 seconds to 365 days.')
      %li
        != l('<strong>All payouts</strong> - from $1 to $50,000.')
  .grd-grid-12.grd-row-padding
    %h2= l('Binary trading is ideal for both individuals and market professionals.')
  .grd-grid-12.grd-row-padding
    %h3= l('Individual Traders')
    %p!= l('If you’re an individual trader, you’ll appreciate the simplicity, flexibility, and limited risk of binary trading. With [_1]’s low minimum stakes, you’ll soon learn how to trade with skill and confidence. And if you have any questions, you’re free to access <a class="pjaxload" href="[_2]">our helpful support desk</a>.', stash->{website_name}, url_for('contact'))
    %h3= l('Market Professionals')
    %p= l('Banks, hedge funds and professional investors routinely trade binary options in over-the-counter derivatives markets. Many market professionals use and trust the [_1] platform for high-volume flexible trades.', stash->{website_name})
