- stash(title => l('Email Verification'));
%div.grd-grid-12
    - if (stash->{client_message}) {
        %h1= l('Email Verification')
        %p= stash->{client_message}
        %p.center-aligned
          %a.button.pjaxload{:href => url_for("/user/resend_verification")}
            %span= l('Send Verification Email')
    - } else {
        %h1= l('Verification Successful')
        %p= l("Thank you for verifying your email.")
        - if (not $upgrade_url) {
            %p.center-aligned
              %a.button.pjaxload{:href => url_for("/user/my_accountws")}
                %span= l('Proceed')
        - } else {
            %p.center-aligned
              %a.button.pjaxload{:href => $upgrade_url}
                %span= l('Proceed')
        - }
    - }
