- stash(title => l('Password reset'));
#lost_passwordws.grd-grid-12.static_full.invisible
  %h1= stash->{title}
  %p= l('To reset your password, enter the e-mail address you registered in the field below and click "RESET PASSWORD".')
  %div
    %fieldset
      .grd-parent.grd-grid-12.grd-row-padding
        .grd-grid-4.form_label
          %label{:for => "lp_email"}= l('Email address')
        .grd-grid-8
          %input#lp_email{:type => 'text', :name => 'lp_email'}
          %p#email_error.errorfield.invisible= l("This field is required.")
      .grd-parent.grd-grid-12
        .grd-grid-4
        .grd-grid-8
          %span.button
            %button#submit.button{:name => "submit" :type => "button"}= l('Reset Password')
  %p= l("We'll then send you an e-mail asking you to verify your identity.")
  %p= l("If you don't receive the email within the next few minutes, please check your junk/spam mail folder.")
