%div#reality-check-content
  %div
    %h1= l('Reality Check')
    %p
      %label= l('Login time:')
      %span#login-time
    %p
      %label= l('Current time:')
      %span#current-time
    %p
      %label= l('Session duration:')
      %span#session-duration
    %p#start-time
    %table
      %tr
        %th= l('Login ID')
        %th= l('Currency')
        %th= l('Turnover')
        %th= l('Profit / Loss')
        %th= l('Contracts bought')
        %th= l('Contracts sold')
        %th= l('Open contracts')
        %th= l('Potential profit')
      %tr
        %td#login-id
        %td#rc_currency
        %td#turnover
        %td#profitloss
        %td#bought
        %td#sold
        %td#open
        %td#potential
    %p
      %label= l('Reality Check Interval:')
      %input{:type => 'number' :interval => 1 :size => '6' :maxlength => '4' :id =>'realityDuration' :min => 1}
      %span= l('minutes')
    %p.error-msg.invisible= l('Please enter a number greater than 0');
  %div#reality-check-nav.center-aligned
    %span.button
      %button#continue.button{:bcont => 1}= l('Continue Trading')
    %span
    %span.button
      %button#btn_logout.button= l('Logout')
