#reset_passwordws.grd-grid-12.static_full.invisible
  %h1= l('Password Reset')
  %p.notice-msg= l("Please check your email to retrieve the token needed to reset your password.")
  %div#reset-error.invisible
    %p#reset-error-msg
    %a.pjaxload{:href => url_for("/user/lost_passwordws")}= l('Click here to retry')
  %div#reset-form.grd-parent.grd-row-padding
    %div.rbox.form
      %div.rbox-wrap
        %form
          %fieldset
            %legend= l('Details')
              %div.grd-row-padding.row.clear
                %div.grd-grid-4.form_label
                  %label{:for => "verification-code"}= l('Verification Token')
                %div.grd-grid-8
                  %input#verification-code{:type => 'text', :maxlength => '48', autocomplete => 'off'}
                  %div.hint= l('Please check your email for the value of this token')
                  %p#verification-error.errorfield.invisible
              %div.grd-row-padding.row.clear
                %div.grd-grid-4.form_label
                  %label{:for => "reset-password1"}= l('New Password')
                %div.grd-grid-8
                  %input#reset-password1{:type => 'password', :maxlength => '25', autocomplete => 'off'}
                  %p#password-meter-container{:style => 'margin:0px;height:0.5em;'}
                  %p#password-hint.hint= l('Minimum of six lower and uppercase letters with numbers')
                  %p#password-error1.errorfield.invisible
              %div.grd-row-padding.row.clear
                %div.grd-grid-4.form_label
                  %label{:for => "reset-password2"}= l('Confirm New Password')
                %div.grd-grid-8
                  %input#reset-password2{:type => 'password', :maxlength => '25', autocomplete => 'off'}
                  %p#password-error2.errorfield.invisible
              %div.grd-row-padding.row.clear
                %div.grd-grid-4.form_label
                  %label{:for => "reset-password2"}= l('I have Real Money Account')
                %div.grd-grid-8
                  %input#have-real-account{:type => 'checkbox'}
              %div#dob-field.grd-row-padding.row.clear.invisible
                %div.grd-grid-4.form_label
                  %label{:for => "dob"}= l('Date of Birth')
                %div.grd-grid-8
                  %select#dobdd
                  %select#dobmm
                  %select#dobyy
                  %p#dob-error.errorfield.invisible
                %br
              %div.grd-row-padding.row.clear
                %div.grd-grid-4.form_label
                %div.grd-grid-8
                  %span.button.button-focus
                    %button#reset.button.button-focus{:name => "submit" :type => "button"}= l('Reset Password')
