- stash(
-   title => l('Resources'),
- );

.grd-grid-12
  %h1= stash->{title}
  %p= l('Do you want to learn more about the markets and how to trade them? Check out the resources below.')
.grd-grid-12.grd-grid-mobile-12.grd-parent
  .grd-grid-3.grd-grid-mobile-6.grd-parent.ja-hide
    .grd-grid-8.grd-with-padding
      %a.pjaxload{:href => url_for('/resources/asset_indexws'), :id => 'asset-index'}
        %img#charting_icon.responsive.charting-page-icon{:src => url_for('images/pages/resources/asset-index.svg')}
    .grd-grid-12
      %h4
        %a.pjaxload{:href => url_for('/resources/asset_indexws')}= l('Asset Index')
      %p= l('View the full list of assets, contract types and durations.')
  .grd-grid-3.grd-grid-mobile-6.grd-parent
    .grd-grid-8.grd-with-padding
      %a.pjaxload{:href => url_for('/resources/market_timesws'),:id => 'trading-times'}
        %img#charting_icon.responsive.charting-page-icon{:src => url_for('images/pages/resources/trading-times.svg')}
    .grd-grid-12
      %h4
        %a.pjaxload{:href => url_for('/resources/market_timesws')}= l('Trading Times')
      %p= l('View the operating hours of the markets you can trade.')
