%div{class => 'grd-hide grd-show-mobile grd-show-phablet', id => 'mobile-menu-container'}
  %div.grd-hide#mobile-menu
    %ul
      - my @top_nav = ({route => '/why-us', text => l('Why Us?'), class => ''}, {route => '/get-started', text => l('Get Started'), class => 'ja-hide'}, {route => '/get-started-jp', text => l('Get Started'), class => 'all-hide ja-show-block'}, {route => '/tour', text => l('Tour'), class => ''},);
      - foreach my $menu_item (@top_nav) {
        - my ($route, $text, $jaClass) = ($menu_item->{route}, $menu_item->{text}, $menu_item->{class});
        - my $menu_class = (index(url_for, $route) != -1) ? 'active' : '';
        %li.$menu_class.$jaClass
          %a{:href=>url_for($route), :class => 'pjaxload'}= $text
      - }
      - foreach my $trade_item (@$menu) {
        - my ($id, $url, $text) = @{$trade_item}{'id', 'url', 'text'};
        - my $trade_class = $trade_item->{'class'} ? "item " . $trade_item->{'class'} : "item";
        - my $trade_link_class = $trade_item->{'link_class'} ? "link " . $trade_item->{'link_class'} : "link";
        - my $trade_link_target = $trade_item->{'target'} ? $trade_item->{'target'} : "";
        - my $trade_sub_items = $trade_item->{sub_items} || '';
        %li{:id=>"#{$id}", :class => $trade_class}
          %a{:class => $trade_link_class, :href=>"#{$url}", :target=>$trade_link_target}= $text
          - if ($trade_sub_items) {
            %ul{:class=>"sub_items"}
              - foreach my $trade_sub_item (@{ $trade_sub_items }) {
              - my ($sub_id, $sub_url, $sub_text) = @{$trade_sub_item}{'id', 'url', 'text'};
              - my $trade_sub_class = $trade_sub_item->{'class'} ? "sub_item " . $trade_sub_item->{'class'} : "sub_item";
              - my $trade_sub_target = $trade_sub_item->{'target'} ? $trade_sub_item->{'target'} : "";
              - my $link_sub_class = $trade_sub_item->{'link_class'} ? "link " . $trade_sub_item->{'link_class'} : "link";
                %li{:id =>"#{$sub_id}", :class => $trade_sub_class}
                  %a{:class => $link_sub_class, :href=>"#{$sub_url}", :target=>$trade_sub_target}= $sub_text
              - }
          - }
        - }
