- stash(
-   title => l('Careers'),
- );

.career.grd-container
  .grd-grid-12.grd-parent.static_full
    .grd-grid-12
      %h1= l('Imagine')
    .grd-grid-6.grd-grid-mobile-12
      %p= l('Imagine a workplace where your individuality, creativity and sense of adventure are valued and rewarded.')
      %p= l('Where new ideas trump safe, old ones. And you’re free to work your way, free from hierarchies and red tape.')
      %p= l('Where your experience, drive and talent can propel you in unknown directions. And you have the freedom to push into new frontiers.')
      %p= l('Where teamwork and a collaborative culture form the platform for personal and corporate growth.')
      %p= l('Where supportive colleagues are like a second family.')
      %p= l('And your weekends can take you to some of the world’s most exotic and beautiful places.')
      %p= l('But we’re picky. We only select people with special qualities: serious professionals, who have high moral standards, and thrive in an honest, collaborative environment.')
    .grd-grid-6.grd-grid-mobile-12
      .grd-row-padding.grd-hide-mobile
      %img.responsive{:src => url_for('images/pages/careers/careers-header.jpg')}
      .grd-row-padding.grd-hide-mobile
      %p= l('Imagine a workplace that often doesn’t feel like work.')
      %p= l('If you’re looking to build a career, and not a resume, talk to us, Binary.com. We’re one of the IT world’s most vibrant and progressive workplaces.')
      %p= l('Who love working with people from different cultures, and are keen to contribute to a dynamic and unique workplace, and not merely pass on through.')
  .grd-grid-12.grd-hide-mobile
    .separator-line
  .grd-grid-12.grd-parent
    .grd-grid-6.grd-grid-mobile-12
      %h1= l('Where we are')
      %p= l('Binary.com’s headquarters are in Malta, a favoured tourist destination with a warm climate, beautiful recreational areas and World Heritage sites. We also have an Operational Headquarters office in Cyberjaya, a high-tech precinct south of Kuala Lumpur, the capital of Malaysia, an equally exciting destination at the heart of Asia.')
    .grd-grid-6.grd-grid-mobile-12
      %h1= l('Want to telecommute? ')
      %p= l('Binary.com is a flexible place. As well as our offices, we have staff who choose to telecommute from their home offices in countries around the world. If that suits you, we’re open to it.')
  .grd-grid-12.grd-parent
    .grd-grid-6.grd-grid-mobile-12
      %img.responsive{:src => url_for('images/pages/careers/careers-1.png')}
      .hint.right-aligned= l('Valletta, the capital of Malta')
    .grd-grid-6.grd-grid-mobile-12
      %img.responsive{:src => url_for('images/pages/careers/careers-2.png')}
      .hint.right-aligned= l('The Cyberview Lodge Resort in Cyberjaya')
  .grd-grid-12.grd-parent
    .grd-grid-6.grd-grid-mobile-12.grd-row-padding
      %h1= l('Where you can go')
      %p= l('When it’s time to kick back, you’ll find beautiful beaches, islands and mountains to explore, just a short flight away. From Malta, you’ll have Europe, the Mediterranean and North Africa on your doorstep. And from Malaysia, you’ll be within easy reach of some of Asia’s most spectacular scenery.')
    .grd-grid-6.grd-grid-mobile-12.grd-row-padding
      %h1= l('More benefits')
      %p= l('We offer a market-based remuneration structure, an annual cash bonus plan, health benefits for you and your family, travel and internet allowances, and company trips.')
      %p= l('Whether in Malta or Malaysia, you’ll enjoy a high standard of living, and your income will stretch further than in most western countries.')
  .grd-grid-12.grd-parent
    .grd-grid-6.grd-grid-mobile-12.grd-row-padding
      %img.responsive{:src => url_for('images/pages/careers/careers-3.png')}
    .grd-grid-6.grd-grid-mobile-12.grd-row-padding
      %img.responsive{:src => url_for('images/pages/careers/careers-4.png')}
      .hint.right-aligned= l('Company trip to Phuket, Thailand')
  .grd-grid-12.grd-hide-mobile
      .separator-line
  .grd-grid-12
    .grd-grid-6.grd-grid-mobile-12.grd-grid-phablet-6
      %div.xquote
        %div
          %div.picture
            %img.responsive{:src => url_for('images/pages/careers/corporate-culture.svg'), :style => 'width:50px;'}
          %div.text
            %a{:href => 'http://www.wobb.my/users/companies/7e437e6d-f45a-486f-87e5-1ca53d403b08', :target => '_blank'}= l('Learn more about our corporate culture')
    .grd-grid-6.grd-grid-mobile-12.grd-grid-phablet-6
      %div.xquote
        %div
          %div.picture
            %img.responsive{:src => url_for('images/pages/careers/handbook.svg'), :style => 'width:50px;'}
          %div.text
            %a{:href => url_for('/download/binary-employee-handbook.pdf'), :download => true, :target => '_blank'}= l('Employee handbook')
  .grd-grid-12.grd-hide-mobile
      .separator-line
  .grd-grid-12.grd-row-padding
    %h1= l('Open positions')
    %p= l('[_1] is always looking to add experienced professionals to its talented team of administrators, technical contributors, and managers. To support our continued growth, we’ve developed a number of exciting career opportunities in the following areas:', stash->{website_name})
  .grd-grid-6.grd-grid-mobile-12
    %ul.checked
      %li= l('Software (Perl) Development')
      %li= l('DevOps Engineering')
      %li= l('Information Security')
      %li= l('Front-End (Javascript) Development')
      %li= l('Quantitative Analytics')
      %li= l('Internal Audit')
  .grd-grid-6.grd-grid-mobile-12
    %ul.checked
      %li= l('Online Marketing')
      %li= l('Business Development')
      %li= l('Graphics Design')
      %li= l('Customer Support')
      %li= l('Legal & Regulatory Compliance')
      %li= l('Accounting & Payments')
  .grd-grid-12.grd-row-padding
    .grd-grid-4.grd-hide-mobile
    .grd-grid-4.grd-grid-mobile-12.grd-grid-phablet-6.center
      %div.xquote
        %div
          %div.picture
            %img.responsive{:src => url_for('images/pages/careers/view-positions-icon.svg'), :style => 'width:50px;'}
          %div.text
            %a.pjaxload{:href => url_for('/open-positions')}= l('View open positions')
    .grd-grid-4.grd-hide-mobile
  .grd-grid-12.grd-hide-mobile
      .separator-line
  .grd-grid-12.grd-row-padding
    %h1= l('Are you ready?')
    %p= l('If you are, we’d love to hear from you.')
    %p= l('Send us a CV and a covering letter that describes your career interests.')
    %p= l('If you meet our basic requirements, we’ll send you a talent test.')
    %p= l('If we’re happy with your results, we’ll contact you for an interview and then do background and reference checks.')
    %p= l('If all that sounds a bit daunting, you’re right. But it’s how we make sure we get the best people for our team.')
  .grd-grid-12
    %p.center-aligned!= l('To apply, please submit your CV and a cover letter to <span id="hr_contact_eaddress"></span>.')
