- stash(title => l('Contact us'));

.grd-container
  .grd-grid-12.grd-parent.static_full
    .grd-grid-2.grd-hide-mobile.ja-hide
      %img.responsive{:src => url_for('images/pages/contact/contact-us-icon.svg')}
    .grd-grid-5.grd-grid-mobile-12
      .grd-row-padding
        %h1= l("Contact us")
      - my $selected_language = stash->{language};
      - my $faq_url = "https://binary.desk.com/customer/" . lc($selected_language) . "/portal/articles";
      .grd-row-padding
        %span.ja-hide.no-para-margin!= l("You'll find answers to most of your questions on the <a href='[_1]' target='_blank'>FAQ</a> page.", $faq_url)
        %span.hidden.ja-show.no-para-margin= l("JAPAN ONLY CONTACT TEXT")
      .grd-row-padding.grd-hide-mobile
      .grd-row-padding
        %span.grd-grid-4.grd-grid-tablet-12.grd-no-gutter= l('Email: ')
        %span#cs_contact_eaddress.grd-grid-7.grd-grid-tablet-12.grd-no-gutter
      .grd-row-padding.grd-hide-mobile
      .grd-row-padding.ja-hide
        %span.no-para-margin
          %label.grd-grid-4.grd-grid-tablet-12.grd-no-gutter= l('Telephone:')
          %select.grd-grid-7.grd-grid-tablet-12.grd-no-gutter{:id => 'cs_telephone_number'}
            %option{:disabled => true}= l('Select Country')
            %option{:value => "+61 (02) 8294 5448"}= l('Australia')
            %option{:value => "+1 (450) 823 1002"}= l('Canada')
            %option{:value => "+49 0221 98259000"}= l('Germany')
            %option{:value => "+353 (0) 76 888 7500"}= l('Ireland')
            %option{:value => "+48 58 881 00 02"}= l('Poland')
            %option{:value => "+44 (0) 1666 800042", :selected => true}= l('United Kingdom')
            %option{:disabled => true}= l('== Toll Free ==')
            %option{:value => "1800 093570"}= l('Australia')
            %option{:value => "0018030113641"}= l('Indonesia')
            %option{:value => "1800931084"}= l('Ireland')
            %option{:value => "8 10 8002 8553011"}= l('Russia')
            %option{:value => "0800 011 9847"}= l('United Kingdom')
        %span#display_cs_telephone.grd-grid-7.grd-prefix-4.grd-no-gutter.grd-grid-tablet-12.grd-prefix-tablet-0.grd-row-padding.grd-grid-mobile-12
            = "+44 (0) 1666 800042"
      .grd-row-padding
        %span.no-para-margin.calls_recording.grd-grid-mobile-12= l('All calls are recorded for training and monitoring purposes')
      .grd-row-padding
        #live-chat-container.grd-grid-12.grd-parent.ja-hide
          %label.grd-grid-4.grd-no-gutter= l('Live chat:')
          .grd-grid-8.grd-no-gutter
            %span{:id => "live-chat-icon"}
    .grd-grid-5.grd-grid-mobile-12
      .grd-row-padding
        %h1= l("Company addresses")
      .grd-row-padding
        %p.no-para-margin.address-heading= l('Malta')
        %p.no-para-margin= l('Binary (Europe) Ltd, Mompalao Building, Suite 2, Tower Road, Msida MSD1825')
      .grd-row-padding
        %p.no-para-margin.address-heading= l('Isle of Man')
        %p.no-para-margin= l('Binary (IOM) Ltd, First Floor, Millennium House, Victoria Road, Douglas, IM2 4RW')
      .grd-row-padding
        %p.no-para-margin.address-heading= l('Malaysia')
        %p.no-para-margin= l('Binary Group Services Sdn Bhd, C-13-02, iTech Tower, Jalan Impact, Cyber 6, 63000 Cyberjaya, Selangor Darul Ehsan')
      .grd-row-padding
        %p.no-para-margin.address-heading= l('Japan')
        %p.no-para-margin= l('Binary KK, Hiroo Miyata Bldg 3F, 9-16, Hiroo 1-chome, Shibuya-ku, Tokyo 150-0012, Japan')
