- stash(
-   title => l('Partners'),
- );
.grd-container.grd-default-container
  .grd-grid-12.static_full
    %h1= stash->{title}
    %p= l('[_1] provides business partnership services via the following programs.', stash->{website_name})
  .grd-grid-12.grd-grid-mobile-12.grd-parent.grd-clear
    .grd-grid-4.grd-grid-mobile-12
      .grd-grid-6.grd-with-padding
        %a.pjaxload{:href => url_for('/affiliate/signup')}
          %img#charting_icon.responsive.charting-page-icon{:src => url_for('images/pages/partners/affiliate-program.svg')}
      .grd-grid-12
        %h4
          %a.pjaxload{:href => url_for('/affiliate/signup')}= l('Affiliate Program')
        %p= l('Earn commissions by introducing new customers to [_1].', stash->{website_name})
    .grd-grid-4.grd-grid-mobile-12
      .grd-grid-6.grd-with-padding
        %a.pjaxload{:href => url_for('/payment-agent')}
          %img#charting_icon.responsive.charting-page-icon{:src => url_for('images/pages/partners/payment-agents.svg')}
      .grd-grid-12
        %h4
          %a.pjaxload{:href => url_for('/payment-agent')}= l('Payment Agent')
        %p= l('Apply to become a Payment Agent')
    .grd-grid-4.grd-grid-mobile-12
      .grd-grid-6.grd-with-padding
        %a{:href => 'https://developers.binary.com', :target => '_blank'}
          %img#charting_icon.responsive.charting-page-icon{:src => url_for('images/pages/partners/api.svg')}
      .grd-grid-12
        %h4
          %a{:href => 'https://developers.binary.com', :target => '_blank'}= l('API')
        %p= l('Develop your own trading application with our APIs.')
  .grd-grid-12.grd-grid-mobile-12.grd-parent.grd-clear
    .grd-grid-4.grd-grid-mobile-12
      .grd-grid-6.grd-with-padding
        %a.pjaxload{:href => url_for('/open-source-projects')}
          %img#charting_icon.responsive.charting-page-icon{:src => url_for('images/pages/partners/open-source-venture.svg')}
      .grd-grid-12
        %h4
          %a.pjaxload{:href => url_for('/open-source-projects')}= l('Open Source')
        %p= l('Contribute to [_1]\'s open-source projects.', stash->{website_name})
    .grd-grid-4.grd-grid-mobile-12
      .grd-grid-6.grd-with-padding
        %a{:href => 'http://blog.binary.com/en/contributors/', :target => '_blank'}
          %img#charting_icon.responsive.charting-page-icon{:src => url_for('images/pages/partners/contributors.svg'), :target => '_blank'}
      .grd-grid-12
        %h4
          %a{:href => 'https://blog.binary.com/en/contributors/', :target => '_blank'}= l('Contributors')
        %p= l('Apply to become a contributor')
    .grd-grid-4.grd-grid-mobile-12
      .grd-grid-6.grd-with-padding
        %a.pjaxload{:href => url_for('/user-testing')}
          %img#charting_icon.responsive.charting-page-icon{:src => url_for('images/pages/partners/tester.svg')}
      .grd-grid-12
        %h4
          %a.pjaxload{:href => url_for('/user-testing')}= l('User Testing')
        %p= l('Earn money for any verifiable errors that you find.')
