- stash(title => l('Smart Indices'));

  .section-content.section-8
    %h1= stash->{title}
    .grd-grid-12.grd-row-padding
      %h2= l('Smart FX')
      %p= l('[_1]’s Smart FX are smart markets that measure the value of a currency against a basket of major currencies.', stash->{website_name})
    .grd-grid-4
      %p= ' '
      %img.responsive{:src => url_for('images/pages/smart-indices/smart-indices-2.svg')}
    .grd-grid-8
      %p= l('The USD Index is a weighted Index, measuring the US Dollar’s value against a basket of 5 global currencies (EUR, GBP, JPY, CAD, AUD), each weighted by 20%.')
    .grd-grid-12
      %p= l('The AUD Index is a weighted Index, measuring the Australian Dollar’s value against a basket of 5 global currencies (USD, EUR, GBP, JPY, CAD), each weighted by 20%.')
    .grd-grid-12
      %p= l('The EUR Index is a weighted Index, measuring the Euro’s value against a basket of 5 global currencies (USD, AUD, GBP, JPY, CAD), each weighted by 20%.')
    .grd-grid-12
      %p= l('The GBP Index is a weighted Index, measuring the British Pound’s value against a basket of 5 global currencies (USD, EUR, AUD, JPY, CAD), each weighted by 20%.')
