- stash(title => l('Tour'));

.tour.grd-container
  .section
    .section-content
      .grd-grid-12
        %h1= l('First, define your position...')
        %p= l('When you start trading with Binary.com, you’ll be directed to the trading screen, where you set your trading parameters, and choose what you want to trade, how and when.')
        %a.pjaxload.button.ja-hide{:href => url_for('trading')}
          %img.responsive#new-trader-icon.ja-hide{:src => url_for('images/pages/tour/trade-tutorial_1.svg')}
        %img.responsive#new-trader-icon.hidden.ja-show{:src => url_for('images/pages/tour/tour-jp.svg')}

  .section
    .section-content
      .grd-grid-12
        %h1= l('2-way pricing')
        %p= l('Simply change any of your parameters and the trade price instantly changes, giving you real-time knowledge of your stake. [_1] ensures fair and transparent pricing by showing you both sides of the trade.', stash->{website_name})
      .grd-grid-6.grd-grid-mobile-12.ja-hide
        %a.pjaxload.button{:href => url_for('trading')}
          %img.responsive#new-trader-icon{:src => url_for('images/pages/tour/tour-live-trade.svg')}
      .grd-grid-6.grd-grid-mobile-12.ja-hide
        %a.pjaxload.button{:href => url_for('trading')}
          %img.responsive#new-trader-icon{:src => url_for('images/pages/tour/tour-opposite-trade.svg')}
  .section
    .section-content
      .grd-grid-12
        %h1= l('Then, make your trade')
        %p= l('As soon as you click on the ‘PURCHASE’ button, your trade registers in your account. The price of your trade continues to update in real time.')
        %img.responsive.ja-hide#new-trader-icon{:src => url_for('images/pages/tour/tour-portfolio-snapshot_1.svg')}

  .section
    .section-content
      .grd-grid-12
        %h1= l('Do you want to lock in profits?')
        %p= l('If you do, no worries. With Binary.com, you can sell your trades before expiry to lock in profits. There’s no need to wait until the end time.')

  .section.ja-hide
    .section-content
      .grd-grid-12
        %h1= l('Bank your way')
        %a.pjaxload.button{:href => url_for('cashier/payment_methods')}
          %span= l('View payment methods')
        %p= l('Trade with ease with [_1]\'s wide range of deposit and withdrawal methods. Your funds will be segregated and held in AAA-rated banks.', stash->{website_name})
        %a.pjaxload.button{:href => url_for('/cashier/payment_methods')}
          %img.responsive{:src => url_for('images/pages/tour/tour-flexible-banking.png')}

  .section
    .section-content
      .grd-grid-12
        %h1= l('Learn from us')
        %p= l('Stay informed. [_1] offers daily market reports and market research, as well as frequent trading webinars.', stash->{website_name})
        %span#edu-research-tool
        %a.pjaxload.button{:href => url_for('/resources')}
          %img.responsive#new-trader-icon{:src => url_for('images/pages/tour/tour-tools-education.svg')}

  .section
    .section-content
      .grd-grid-12
        %h1= l('Talk to us')
        %p= l('Feel free to contact our friendly and helpful customer service experts. They\'re always available to answer your questions. You can contact us via live chat, email and telephone.')
      .grd-grid-4.grd-grid-mobile-8.grd-centered.ja-hide
        %a.pjaxload.button{:href => url_for('contact')}
          %img.responsive{:src => url_for('images/pages/tour/tour-customer-support.png')}
