- stash(
-   title => l('[_1]: Online Trading platform for binary options on Forex, Indices, Commodities and Smart Indices',stash('broker_name')),
-   next_link => '/why-us',
-   createacc => l('Create Free Account'),
-   emailtext   => l('Enter your email'),
-   passwordstext   => l('Choose a password'),
-   reenter_password => l('Re-enter your password'),
- );
#banner
  .grd-container
    .grd-grid-12.grd-row-padding
      .grd-grid-12.grd-grid-mobile-12.grd-grid-phablet-12
        #xtop
          %h1.dark!= l('The <strong>Premier Platform</strong> for Binary Options Trading')
          %p.break!= l('Trade <strong>24/7</strong>, even on weekends.')
          %form#verify-email-form
            %span.grd-grid-2.grd-hide-mobile
            %div#open-account.grd-parent.grd-grid-8.grd-grid-mobile-12
              %input.grd-grid-9{:id => 'email', :placeholder => stash('emailtext'), :maxlength => 50}
              %input.grd-grid-3.button{:id => 'btn-verify-email', :type => 'submit', :value => stash('createacc')}
              %p.grd-grid-12.error-message#signup_error{:style => 'display:none'}
            %span.grd-grid-2.grd-hide-mobile
.grd-container
  %hr.xtopseparator
  #xsection1
    .grd-grid-12.grd-parent
      %h1.center= l('The easiest way to get started in the financial markets')
      %p.center= l("Trade in the world's financial markets in a simple, user-friendly platform.")
      .grd-grid-7.grd-grid-mobile-12.grd-parent
        %img.responsive{:alt => "", :src => url_for("images/pages/tour/trade-tutorial_1.svg")}
      .grd-grid-5.grd-grid-mobile-12.grd-parent
        %ul
          %li!= l('<span>All markets:</span> currencies, stocks, indices, and commodities.')
          %li!= l('<span>All market conditions:</span> up/down, touch/no-touch, stays in/goes out.')
          %li!= l('<span>All durations:</span> from 10 seconds to 365 days.')
          %li!= l('<span>All payouts:</span> from $1 to $50,000.')
#xcta
  #xreason
    .grd-container
      .grd-row-padding
        %h1.center-aligned.xhead= l('Why choose us')
        .grd-grid-12.grd-grid-mobile-12.grd-grid-phablet-12.center-aligned
          %p= l('Binary.com is the award-winning industry pioneer in online options trading.')
          %div.ja-hide
            %img.small-image{:alt => "", :src => url_for("images/pages/home/awards-t2w.png")}
            %img.small-image{:alt => "", :src => url_for("images/pages/why-us/why-us-GBAF-award-2012.svg")}
            %img.small-image{:alt => "", :src => url_for("images/pages/home/awards-egr.png")}
            %img.mena{:alt => "", :src => url_for("images/pages/home/awards-mena.png")}
          %div#xtop
            %ul
              %span.grd-grid-12
                %span.grd-grid-1.grd-grid-phablet-2
                %span.grd-grid-10.grd-grid-phablet-8
                  %li.xlist1
                    %h3= l('Sharp prices')
                  %li.xlist3
                    %h3= l('Trade your way')
                  %li.xlist2
                    %h3= l('Your funds are safe')
                %span.grd-grid-1.grd-grid-phablet-2
#xacademy.ja-hide
  .grd-container
    .grd-row-padding
      %h1.center-aligned.head-academy= l('Binary.com academy')
      .grd-grid-12.grd-grid-mobile-12.grd-grid-phablet-6.center
        %p!= l('Improve your trading skills with our free educational & training resources.')
      .grd-grid-3.grd-grid-mobile-12.grd-grid-phablet-6
      .grd-grid-3.grd-grid-mobile-12.grd-grid-phablet-6.center
        %img.responsive{:src => url_for("images/pages/home/academy-icon.svg")}
      .grd-grid-4.grd-grid-mobile-12.grd-grid-phablet-6
        %ul.checked
          %li= l('Free webinars')
          %li= l('Free daily market report')
          %li= l('Free E-books')
          %li= l('Free trading charts')
      .grd-grid-2.grd-grid-mobile-12.grd-grid-phablet-6
      .grd-grid-12.grd-grid-mobile-12.grd-grid-phablet-6.center
        %p.academy-cta.blog
          %a.button{:href=>"https://blog.binary.com", :target => '_blank'}
            %span= l('Start learning')
#xtestimonial
  .grd-container
    .grd-row-padding
      %h1.center-aligned.xhead= l('What our clients are saying')
      .grd-grid-6.grd-grid-mobile-12.grd-grid-phablet-6
        .xquote
          %p!= l('&#8220;We have used www.binary.com for the last 8 years and highly recommend binary to all our members worldwide&#8221;')
        .xbubble-left
        .xquoter-left
          %p!= l('Joshua Cavallaro <span> Markets And You Trader.</span>')
      .grd-grid-6.grd-grid-mobile-12.grd-grid-phablet-6
        .xquote
          %p!= l('&#8220;Binary.com is one of the oldest and trustworthy partners we ever had. We have worked together for many years.&#8221;')
        .xbubble-right
        .xquoter-right
          %p!= l('Andrei Asavei <span>Top Binary Options Brokers</span>')
#xpayment.center-aligned.ja-hide
  .grd-container
    .grd-row-padding
      %h1.center-aligned.xhead= l('Payment methods')
      .grd-grid-12
        %a.pjaxload{:href => url_for('/cashier/payment_methods')}
          #visa.inlined
          #mastercard.inlined
          #int_bank_wire.inlined
          #local_bank_transfer.inlined
          #western_union.inlined
          #citadel.inlined
          #neteller.inlined
          #okpay.inlined
          #fastpay.inlined
          #perfect_money.inlined
          #moneybrokers.inlined
        %p= l('Hundreds of deposit and withdrawal options.')
