- stash(
-   title => l('Cashier'),
- );

.grd-grid-12
  %h1= l('Cashier')

.grd-row-padding.table-body
  .grd-grid-12.grd-row-padding
    %h3= l('Bank-wire, credit card, e-cash wallet')
  .grd-grid-2.grd-grid-mobile-4
    .grd-grid-12.no_side_padding
      %a.pjaxload{:href => url_for('/cashier/forwardws#deposit'), :id => 'payment_methods'}
        %img.ja-hide#payment_methods_icon.responsive.charting-page-icon{:src => url_for('images/pages/cashier/payment-methods.svg')}
        %img.hidden.ja-show#payment_methods_icon.responsive.charting-page-icon{:src => url_for('images/pages/cashier/japan_cashier.svg')}
  .grd-grid-5.grd-grid-mobile-12
    %p= l('Deposit or withdraw to your account via bank-wire, credit card, or e-cash wallet.')
    %a.pjaxload.ja-hide#view_payment_methods{:href=>url_for('cashier/payment_methods')}= l('View available payment methods')
  .grd-grid-5.grd-grid-mobile-12
    .grd-row-padding.by_client_type.client_real.with_login_cookies.invisible
      %a.pjaxload.button.button_large.by_client_type.client_real.with_login_cookies.invisible{ :href => url_for('/cashier/forwardws#deposit') }
        %span= l('Deposit')
    .grd-row-padding.by_client_type.client_real.with_login_cookies.invisible
      %a.pjaxload.button.button_large.by_client_type.client_real.with_login_cookies.invisible{ :href => url_for('/cashier/forwardws#withdraw') }
        %span= l('Withdraw')
    .grd-row-padding.by_client_type.client_virtual.with_login_cookies.virtual-upgrade-link.invisible
      %a.pjaxload.button.button_large.by_client_type.client_virtual.with_login_cookies.virtual-upgrade-link.invisible{:href => url_for('new_account/realws')}
        %span= l('Upgrade to a Real Account')
    .grd-row-padding.by_client_type.client_virtual.with_login_cookies.vr-japan-upgrade-link.invisible
      %a.pjaxload.button.button_large.by_client_type.client_virtual.with_login_cookies.vr-japan-upgrade-link.invisible{:href => url_for('new_account/japanws')}
        %span= l('Upgrade to a Real Account')
    .grd-row-padding.by_client_type.client_virtual.with_login_cookies.vr-financial-upgrade-link.invisible
      %a.pjaxload.button.button_large.by_client_type.client_virtual.with_login_cookies.vr-financial-upgrade-link.invisible{:href => url_for('new_account/maltainvestws')}
        %span= l('Upgrade to a Financial Account')

.grd-row-padding
  %span

#payment-agent-section.grd-row-padding.table-body.ja-hide.payment-agent
  .grd-grid-12.grd-row-padding
    %h3= l('Payment Agent')
  .grd-grid-2.grd-grid-mobile-4
    .grd-grid-12.no_side_padding
      %a.pjaxload{:href => url_for('/cashier/payment_agent_listws'), :id => 'payment_agent'}
        %img#payment_agent_icon.responsive.charting-page-icon{:src => url_for('images/pages/cashier/payment-agents.svg')}
  .grd-grid-5.grd-grid-mobile-12
    %p= l('For e-cash methods or local currencies not supported by [_1].', stash->{website_name})
    %p.faded= l('Note: Withdrawal via payment agent is available only if you deposit exclusively via payment agent')
  .grd-grid-5.grd-grid-mobile-12
    .grd-row-padding
      %a.pjaxload.button.button_large.by_client_type.client_real.with_login_cookies.invisible{:href => url_for('/cashier/payment_agent_listws')}
        %span= l('Deposit')
    .grd-row-padding
      %a.pjaxload.button.button_large.by_client_type.client_real.with_login_cookies.invisible{:href => url_for('/paymentagent/withdrawws')}
        %span= l('Withdraw')

#account-transfer-section.grd-row-padding.table-body.ja-hide
  .grd-grid-2.grd-grid-mobile-4
    .grd-grid-12.no_side_padding
      %a.pjaxload{:href => url_for('/cashier/account_transferws'), :id => 'account_transfer'}
        %img#acc_transfer_icon.responsive.charting-page-icon{:src => url_for('images/pages/cashier/account-transfer.svg')}
  .grd-grid-5.grd-grid-mobile-12
    %p= l('Transfer between your gaming and financial accounts.')
  .grd-grid-5.grd-grid-mobile-12
    .grd-row-padding
      %a.pjaxload.button.button_large.by_client_type.client_real.with_login_cookies.invisible{:href => url_for('/cashier/account_transferws')}
        %span= l('Transfer')
